body{
    background-color: red;
}
table{
    background-color: aqua;
}
tr{
    color: gold;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}
td{
    background-color: brown;
    flex: auto;
    float: inline-end;
    fill: aliceblue;
}